In [1]:
import re
import pandas as pd
import requests
from bs4 import BeautifulSoup


import json
import pymongo
from flask import Flask, jsonify, request
from flask_cors import CORS, cross_origin
from pymongo import MongoClient

# configuration
DEBUG = True

# instantiate the app
app = Flask(__name__)
# app.config.from_object(__name__)
app.config['CORS_HEADERS'] = 'Content-Type'
# enable CORS
CORS(app, resources={r'/*': {'origins': '*'}})

# app = Flask(__name__)
# cors = CORS(app)
# app.config['CORS_HEADERS'] = 'Content-Type'

cluster = MongoClient('mongodb+srv://jihwan:1234@intelportfolio.kqupw.gcp.mongodb.net/test?retryWrites=true&w=majority')
db = cluster['test']

## BACKEND and ML

# DJI
collection_DJI = db['DJI'].find({})

In [2]:
df_DJI = pd.DataFrame(list(collection_DJI))
del df_DJI['_id']

df_DJI.info()
df_DJI.set_index(['Date'],inplace=True)
df_DJI.sort_values(by=['Date'],ascending=False,inplace=True)
drop_cols = ['Open', 'High','Low', 'Adj Close', 'Volume']

# Remove columns without relative significance.
df_DJI = df_DJI.drop(drop_cols,axis=1)
df_DJI.head()


df_DJI.index = pd.to_datetime(df_DJI.index)

df_DJI = df_DJI.resample('D').asfreq()
df_DJI.sort_values(by=['Date'],ascending=False,inplace=True)
df_DJI.fillna(method='ffill',inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1417 entries, 0 to 1416
Data columns (total 7 columns):
Adj Close    1417 non-null object
Close        1417 non-null object
Date         1417 non-null object
High         1417 non-null object
Low          1417 non-null object
Open         1417 non-null object
Volume       1417 non-null object
dtypes: object(7)
memory usage: 77.6+ KB

In [3]:
df_DJI.head()

                   Close
Date
2020-08-18  27778.070313
2020-08-17  27844.910156
2020-08-16  27844.910156
2020-08-15  27844.910156
2020-08-14  27931.019531

In [4]:
from DJI import get_DJI
get_DJI()

In [5]:
get_DJI()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1417 entries, 0 to 1416
Data columns (total 7 columns):
Adj Close    1417 non-null object
Close        1417 non-null object
Date         1417 non-null object
High         1417 non-null object
Low          1417 non-null object
Open         1417 non-null object
Volume       1417 non-null object
dtypes: object(7)
memory usage: 77.6+ KB

                   Close
Date
2020-08-18  27778.070313
2020-08-17  27844.910156
2020-08-16  27844.910156
2020-08-15  27844.910156
2020-08-14  27931.019531
2020-08-13  27896.720703
2020-08-12  27976.839844
2020-08-11  27686.910156
2020-08-10  27791.439453
2020-08-09  27791.439453
2020-08-08  27791.439453
2020-08-07  27433.480469
2020-08-06  27386.980469
2020-08-05  27201.519531
2020-08-04  26828.470703
2020-08-03  26664.400391
2020-08-02  26664.400391
2020-08-01  26664.400391
2020-07-31  26428.320313
2020-07-30  26313.650391
2020-07-29  26539.570313
2020-07-28  26379.279297
2020-07-27  26584.769531
2020-07-26  26584.769531
2020-07-25  26584.769531
2020-07-24  26469.890625
2020-07-23  26652.330078
2020-07-22  27005.839844
2020-07-21  26840.400391
2020-07-20  26680.869141
...                  ...
2015-01-31  17361.039063
2015-01-30  17164.949219
2015-01-29  17416.849609
2015-01-28  17191.369141
2015-01-27  17387.210938
2015-01-26  17678.699219
2015-01-25  17678.699219
2015-01-24  17678.699219
2015-01-23  17672.599609
2015-01-22  17813.980469
2015-01-21  17554.279297
2015-01-20  17515.230469
2015-01-19  17515.230469
2015-01-18  17515.230469
2015-01-17  17515.230469
2015-01-16  17511.570313
2015-01-15  17320.710938
2015-01-14  17427.089844
2015-01-13  17613.679688
2015-01-12  17640.839844
2015-01-11  17640.839844
2015-01-10  17640.839844
2015-01-09  17737.369141
2015-01-08  17907.869141
2015-01-07  17584.519531
2015-01-06  17371.640625
2015-01-05  17501.650391
2015-01-04  17501.650391
2015-01-03  17501.650391
2015-01-02  17832.990234

[2056 rows x 1 columns]

In [10]:
from KR_IR import get_IR

ModuleNotFoundError: No module named 'KR_IR'

In [11]:
import pandas as pd

In [13]:
df = pd.read_csv('processed_data.csv')

In [14]:
df.head()

,Date,Close,Change,Pct_Change,Volume,Org_Volume,Foreign_Volume,Foreign_Count,Foreign_Pct,DJI_Close,IR,USD_Bar,XR,XR_Pct_Change
0,2020-08-10,57800,300,0.52,17774291,-628631,-226046,3339282837,55.94,27791.439453,0.5,41.94,-0.30,1185.58
1,2020-08-09,57800,300,0.52,17774291,-628631,-226046,3339282837,55.94,27791.439453,0.5,41.16,0.44,1189.18
2,2020-08-08,57800,300,0.52,17774291,-628631,-226046,3339282837,55.94,27791.439453,0.5,41.16,0.44,1189.18
3,2020-08-07,57500,500,-0.86,18751717,-3358271,1439330,3339289268,55.94,27433.480469,0.5,41.16,0.44,1189.18
4,2020-08-06,58000,1100,1.93,21625874,147756,635304,3337635274,55.91,27386.980469,0.5,41.93,-0.19,1184.00

In [ ]:
df.sort_values(by='Date')